<h1>Bem vindo à Google</h1>

<p>O Google é uma empresa fundada em 4 de setembro de 1998 em Menlo Park, na Califórnia
    costa oeste dos Estados Unidos. Os criadores são Larry Page e Sergey Brin, dois estudantes do curso de doutorado da Universidade de Stanford.</p>