<h1>Bem vindo à Huawei</h1>

<p> A Huawei foi fundada em 1987 por Ren Zhengfei e é uma empresa proprietária.
    Suas atividades principais são pesquisa e desenvolvimento, a produção e o marketing de equipamentos de telecomunicações
    e o fornecimento de serviços personalizados de rede a operadoras de telecomunicações dentro e fora da China.</p>