<h1>Bem vindo à Microsoft</h1>

<p>A Microsoft é uma empresa de tecnologia fundada por Bill Gates e Paul Allen, em 1975, nos Estados Unidos.
    Com sede em Redmond (Washington), a companhia atua no suporte e desenvolvimento de softwares
    dispositivos e serviços relacionados à computação pessoal, produtividade e soluções em nuvem.</p>