<h1>Bem vindo à Oracle</h1>

<p>A Oracle foi fundada em agosto de 1977, inicialmente foi chamada de Software Development Labs (SDL)
    uma empresa de consultoria que contava com Bob Miner (presidente), Ed Oates e Bruce Scott (engenheiros de software)
    no seu primeiro projeto.</p>